# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/db.sqlite3
backend/.pytest_cache/
backend/htmlcov/
backend/.coverage
backend/venv/
backend/.pytest_cache/
backend/media/

# Environment
backend/.env
anime-frontend/.env

# Node
anime-frontend/node_modules/
anime-frontend/dist/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db